# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Android
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/app/my-release-key.keystore

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Logs
logs/
*.log

# Testing
coverage/
.nyc_output/

# Misc
package-lock.json
yarn.lock
